CIRCUITPY_WIFI_SSID="your_wifi_ssid"
CIRCUITPY_WIFI_PASSWORD="your_wifi_password"

MQTT_BROKER="192.168.1.x"
MQTT_PORT=1883
MQTT_USERNAME="your_mqtt_user"
MQTT_PASSWORD="your_mqtt_password"
MQTT_DEVICE_ID="plant_monitor"

DRY_THRESHOLD=560
WET_THRESHOLD=680
PUBLISH_INTERVAL=60
GREEN_BLINK_INTERVAL=1800
SMOOTHING_SAMPLES=9
WARNING_COLOR="50,30,0"
WARNING_MODE="glow"
# WARNING_BLINK_INTERVAL=120  # only used when WARNING_MODE=blink
